.profile-info {
  height: 150px;
  width: 100%;
  font-family: myFont; }

@font-face {
  .profile-info {
    font-family: myFont;
    src: url("../../../../fonts/IndieFlower.ttf"); } }
  .profile-info .profile-photo {
    display: inline-block;
    height: 150px;
    width: 150px;
    vertical-align: top; }
    .profile-info .profile-photo .profile-img {
      border-radius: 20px;
      margin-left: 0;
      float: left; }
  .profile-info .profile-data {
    vertical-align: top;
    display: inline-block;
    width: 80%; }
    .profile-info .profile-data .profile-data-info {
      text-align: left;
      margin-left: 20px;
      margin-top: 20px; }
    .profile-info .profile-data .left-side {
      float: left; }
    .profile-info .profile-data .full-name {
      float: left; }
      .profile-info .profile-data .full-name .full-name-data {
        font-size: 36px; }
    .profile-info .profile-data .follow-info {
      float: right;
      margin-right: 100px; }
    .profile-info .profile-data .title {
      font-size: 12px; }
