a {
  text-decoration: none;
  color: antiquewhite; }
  a .title-text {
    top: 0;
    bottom: 10vh; }

.login-button {
  width: 100px;
  height: 30px;
  background: yellow;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0; }
  .login-button span {
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 30px; }

.start-page {
  height: 100vh;
  background: url("../../img/start_background.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover; }
  @media only screen and (min-width: 1300px) {
    .start-page {
      background: url("../../img/start_background_large.jpg"); } }

@font-face {
  font-family: myFont;
  src: url("../../fonts/IndieFlower.ttf"); }

.title-text {
  font-family: myFont;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  font-size: 36px;
  color: antiquewhite;
  font-weight: bold; }

.login-text {
  font-family: myFont;
  top: 120px;
  position: absolute;
  font-size: 36px;
  left: 0;
  right: 0;
  color: antiquewhite !important;
  font-weight: bold; }
